h1, h2, h3, h4, h5, h6 {
  color: #ff0080;
}

a {
  color: #ff0080;
}
a:hover, a:focus {
  color: #7F0040;
}
a:visited {
  color: #ff0080;
}

.footer{
  height: 100px;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  background-color: #ff0080;
  color: #ffffff;
  text-align: left;
  width: 100%;
}

.talk {
  background-color: #e7eee4;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
}
