body {
  background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff0080;
}

a {
  color: #ff0080;
}
a:hover, a:focus {
  color: #7F0040;
}
a:visited {
  color: #ff0080;
}

.footer{
  height: 100px;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  background-color: #ff0080;
  color: #ffffff;
  text-align: left;
  width: 100%;
}

.talk {
  background-color: #e7eee4;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.talk-text-border {
  background-color: white;
  padding: 15px;
}

.talk-text {
  background-color: #e7eee4;
  padding: 10px;
}

#search-field {
  width: 100%;
  padding-left: 15px;
  font-size: 16px;
  margin-top: 5px;
}

#submit-button {
  font-weight: bold;
  outline: medium none;
  color: white;
  border: 1px solid #ff0080;
  display: inline-block;
  line-height: 20px;
  padding: 0px 12px;
  border-radius: 2px;
  background-color: #ff0080;
  /*background: -moz-linear-gradient(center top , #4387FD, #4683EA)
                repeat scroll 0% 0% transparent;*/
}

