<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eurucamp 2014 transcriptions</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
    <ul.no-bullet class="title area">
      <li>
      <h3>
        <span>
          <a href="/">
            <img alt="eurucamp-logo" src="/images/eurucamp-2014.svg" width="200" />
          </a>
        </span>
        <span>Transcriptions</span>
      </h3>
      </li>
    </ul>
    </nav>

    <div class="container">
      <%= @inner %>
    </div>


    <br>
    <br>
    <div class="footer">
      <div class="row">
      <div class="small-2 columns">
      </div>
      <div class="small-10 columns">
        Eurucamp Transcripts 2014
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
  <!-- /container -->
</body>
</html>
