<br><br>

<div class="row">
  <div class="small-2 columns">
    <img alt="KITTEN" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg" />
  </div>
  <div class="small-10 columns">
    <h2><%= @talk.speaker%></h2>
    <h2><%= @talk.title%></h2>
  </div>
</div>


<div class="row">
  <div class="small-2 columns">
    <br>
  </div>
  <div class="small-10 columns">
    <p>VIDEO HERE</p>
    <p>
    <%=@talk.text%>
    </p>
  </div>
</div>
